{% extends 'hospital/base.html' %}

{% block title %}
Consultations - IPCMS
{% endblock %}

{% block header %}
Consultations
{% endblock %}

{% block content %}

<div class="page-header">

    <div>
        <h2>Consultation Management</h2>
        <p>View consultation history and clinical records.</p>
    </div>

   <a href="{% url 'add_consultation' %}" class="btn">
    + Add Consultation
    </a>

</div>


<div class="table-card">

    <table>

        <thead>
            <tr>
                <th>Patient</th>
                <th>Doctor</th>
                <th>Symptoms</th>
                <th>Diagnosis</th>
                <th>Treatment</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

            {% for consultation in consultations %}

            <tr>
                <td>{{ consultation.patient.name }}</td>

                <td>{{ consultation.doctor }}</td>

                <td>{{ consultation.symptoms }}</td>

                <td>{{ consultation.diagnosis }}</td>

                <td>{{ consultation.treatment }}</td>

                <td>
                    <a href="{% url 'edit_consultation' consultation.id %}">
                        Edit
                    </a>
                    <a href="{% url 'delete_consultation' consultation.id %}">
                        Delete
                    </a>
                </td>
            </tr>

            {% empty %}

            <tr>
                <td colspan="5" style="text-align: center;">
                    No consultation records found.
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>


<style>

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.page-header h2 {
    margin-bottom: 5px;
}

.page-header p {
    color: #607d8b;
}

.table-card {
    background: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 3px 12px rgba(0,0,0,0.08);
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #f1f5f9;
    padding: 14px;
    text-align: left;
}

td {
    padding: 14px;
    border-bottom: 1px solid #e5e7eb;
}

</style>

{% endblock %}